<!-- templates/student_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container mt-5">
        <h2>Students List</h2>
        <!-- Search Form -->
        <form method="get" action="">
            <div class="form-group row">
                <label for="searchName" class="col-sm-2 col-form-label">Search by Name:</label>
                <div class="col-sm-10">
                    {% if search %}
                    <input type="text" class="form-control" id="searchName" name="search_name" value="{{search}}">
                    {% else %}
                    <input type="text" class="form-control" id="searchName" name="search_name">
                    {% endif %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <!-- Pagination Form -->
        <form method="post" id="paginationForm" action="">
            {% csrf_token %}
            <div class="form-group row">
                <label for="perPage" class="col-sm-2 col-form-label">Records Per Page:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="perPage" name="per_page" value="{{ per_page }}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll No</th>
                    <th>Standard</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                {% for student in page_obj %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.rollno }}</td>
                    <td>{{ student.standard }}</td>
                    <td>{{ student.course }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'student_list' page=1 per_page=per_page %}{% if request.GET.search_name %}?search_name={{ request.GET.search_name }}{% endif %}">First</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'student_list' page=page_obj.previous_page_number per_page=per_page %}{% if request.GET.search_name %}?search_name={{ request.GET.search_name }}{% endif %}">Previous</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="{% url 'student_list' page=num per_page=per_page %}{% if request.GET.search_name %}?search_name={{ request.GET.search_name }}{% endif %}">{{ num }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'student_list' page=page_obj.next_page_number per_page=per_page %}{% if request.GET.search_name %}?search_name={{ request.GET.search_name }}{% endif %}">Next</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'student_list' page=page_obj.paginator.num_pages per_page=per_page %}{% if request.GET.search_name %}?search_name={{ request.GET.search_name }}{% endif %}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("paginationForm");
        
            form.addEventListener("submit", function(event) {
                event.preventDefault(); 
                var perPage = document.getElementById("perPage").value;
                var search_name=document.getElementById("searchName").value;
                var page = 1;
                if(search_name){
                    var newURL = `http://localhost:8000/api/studentsWithPageination/${page}/${perPage}?search_name=${search_name}`
                } else{

                    var newURL = `http://localhost:8000/api/studentsWithPageination/${page}/${perPage}`;
                }
                
                
                window.location.href = newURL;
            });
        });
    </script>
   
</body>
</html>
